.env
.env.*
__pycache__/
*.pyc

# Virtual environments
venv/
env/
genAI_env/
.venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Build/temp
build/
dist/
*.tmp

# IDE
.vscode/
.idea/

week 1/
week 2/
week 3/
week 4/
week 5/
week 6/
week 7/
week 8/
week 9/
week 10/
week 11/
week 12/
Week 1/
Week 2/
Week 3/
Week 4/
Week 5/
Week 6/
Week 7/
Week 8/
Week 9/
Week 10/
Week 11/
Week 12/